:80

s3browser {
    site_name ${S3_SITENAME} # S3 Browser
	endpoint ${S3_ENDPOINT}
	region ${S3_REGION}
	key ${S3_KEY}
	secret ${S3_SECRET}
	secure ${S3_SECURE} # true
	bucket ${S3_BUCKET}
	refresh ${S3_REFRESH} # 5m
	debug ${S3_DEBUG} # false
}
