:80

s3browser {
	endpoint ${S3_ENDPOINT}
	region ${S3_REGION}
	key ${S3_KEY}
	secret ${S3_SECRET}
	secure ${S3_SECURE} # true
	bucket ${S3_BUCKET}
	refresh ${S3_REFRESH} # 5m
	debug ${S3_DEBUG} # false
}

proxy / ${S3_PROTO}://${S3_HOST}${S3_EXTRA} {
	header_upstream Host ${S3_HOST}
}
